<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/css/resetStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/baseStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/buttonStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/fonts/bebasneue/bebasneue.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="content">
            <span class="content__title">Weather forecast for your city</span>
            <div class="control-panel">
                    <form class="search-field" method="post" action="/weather/location">
                        <input class="inpt" type="text" name="country">
                        <button class="search" type="submit" value="Send"></button>
                    </form>
                <a class="btn @(ViewBag.IsActive == true ? "" : "disabBtn")"
                onclick=" @(ViewBag.IsActive == true ? "return true;" : "return false;")"
                href="/weather/location/forecast/for/today?city=@ViewBag.YourCity">For today</a>

                <a class="btn @(ViewBag.IsActive == true ? "" : "disabBtn")"
                onclick=" @(ViewBag.IsActive == true ? "return true;" : "return false;")"
                href="/weather/location/forecast/for/tomorrow?city=@ViewBag.YourCity">For tomorrow</a>

                <a class="btn @(ViewBag.IsActive == true ? "" : "disabBtn")"
                onclick=" @(ViewBag.IsActive == true ? "return true;" : "return false;")"
                href="/weather/location/forecast/for/three_days?city=@ViewBag.YourCity">For 3 days</a>

                <a class="btn @(ViewBag.IsActive == true ? "" : "disabBtn")"
                onclick=" @(ViewBag.IsActive == true ? "return true;" : "return false;")"
                href="/weather/location/forecast/for/five_days?city=@ViewBag.YourCity">For 5 days</a>

                <img class="indicator" src="/imgs/sunny-day.png" />
            </div>      
        @RenderBody()
    </div>
    </div>
</body>
</html>
